<%= field_set_tag Fieldset::Edit::HEADING, class: 'fieldset' do %>
  <div id="subheading-div" class="fieldset-field-div">
    <%= render 'rounds/subheading', course: course, tee: tee %>
  </div>
  <div id="edit-div" class="fieldset-field-div">
      <%= form_with model: [@course, @tee, @round], local: true do |round_form| %>
        <%= round_form.label :date, Label::Round::DATE %>
        <%= round_form.date_field :date, disabled: form_disabled %><br>
        <%= round_form.submit disabled: form_disabled %>
    <% end # form %>
  </div>
<% end # field_set %>
