
<h2>Course: <%= @course.name %></h2>
<h2>Tee: <%= @tee.color %></h2>

<%= render 'share/error_messages.html.erb', resource: @round %>

<%= render "rounds/scores", round: @round, scores: @round.scores %>

<%= form_with model: [@course, @tee, @round], local: true do |round_form| %>
  <%= round_form.label :date, Label::Round::DATE %>
  <%= round_form.date_field :date %>
  <%= round_form.submit %>
<% end %>

