<h1>Rounds for <%= @course.name %> and tee <%= @tee.color %></h1>
<% rounds = @tee.sorted_rounds %>
<% if rounds.empty? %>
  <p> <%= Label::Round::NO_ROUNDS %></p>
  <p> <%= Label::Round::NO_ROUNDS_TO_ANALYZE %></p>
<% else %>
  <ul>
    <% rounds.each do |round| %>
      <li id="li-id-<%= round.id %>"><%= link_to round.date, edit_course_tee_round_path(@course, @tee, round) %></li>
    <% end %>
    <li id="li-id-<%= @tee.id %>"><%= link_to 'show analysis of tee', course_tee_performances_path(@course, @tee) %></li>
  </ul>
<% end %>

<%= render "layouts/other_buttons", courses:
  [button_to(Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get),
    button_to(Button::Tee::EDIT, edit_course_tee_path(@course, @tee), method: :get),
    button_to(Button::Course::NEW, new_course_path, method: :get),
    button_to(Button::Course::EDIT, edit_course_path(@course), method: :get)],
    rounds: [button_to(Button::Round::NEW, new_course_tee_round_path(@course, @tee, Round.new), method: :get)] %>