<h1>Rounds for <%= @course.name %> and tee <%= @tee.color %></h1>
<% rounds = @tee.sorted_rounds %>
<% if rounds.empty? %>
  <p> <%= t('info.round.no_rounds') %></p>
  <p> <%= t('info.round.no_rounds_to_analyze') %></p>
<% else %>
  <ul>
    <% rounds.each do |round| %>
      <li id="li-id-<%= round.id %>"><%= link_to round.date, edit_course_tee_round_path(@course, @tee, round) %></li>
    <% end %>
    <li id="li-id-<%= @tee.id %>"><%= link_to 'show analysis of tee', course_tee_performances_path(@course, @tee) %></li>
  </ul>
<% end %>

<%= render "layouts/other_buttons", courses:
  [button_to(I18n.t('button.tee.new'), new_course_tee_path(@course, Tee.new), method: :get),
    button_to(I18n.t('button.tee.edit'), edit_course_tee_path(@course, @tee), method: :get),
    button_to(I18n.t('button.course.new'), new_course_path, method: :get),
    button_to(I18n.t('button.course.edit'), edit_course_path(@course), method: :get)],
    rounds: [button_to(I18n.t('button.round.new_round'), new_course_tee_round_path(@course, @tee, Round.new), method: :get)] %>