<h2>Course: <%= @course.name %></h2>
<h2>Tee: <%= @tee.color %></h2>

<%= render 'share/error_messages.html.erb', resource: @tee %>

<%=render "tees/tees", tees: tees %>

<%= form_with model: [@course, @tee], local: true  do |tee_form| %>
  <p>
    <%= tee_form.label :color, Label::Tee::COLOR %>
    <%= tee_form.text_field :color%>
    <%= tee_form.label :slope, Label::Tee::SLOPE %>
    <%= tee_form.number_field :slope %>
    <%= tee_form.label :rating, Label::Tee::RATING %>
    <%= tee_form.number_field :rating, step: 0.1 %>
    <%= label_tag :number_of_holes, Label::Tee::NUMBER_OF_HOLES %>
    <%= number_field_tag :number_of_holes, 18 %>
  </p>
  <%= tee_form.submit %>
  </p>
<% end %>
<%= (button_to Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get) unless new_tee %>
<%= button_to Button::Course::EDIT, edit_course_path(@course), method: :get %>
<%= button_to Button::Course::SHOW_COURSES, courses_path, method: :get %>