<h1>Rounds</h1>
<h1>Choose Tee for course <%= @course.name %></h1>

<ul>
  <% @tees.each do |tee| %>
    <li id="li-id<%= tee.id %>"><%= link_to tee.color, course_tee_rounds_path(@course, tee), id: "link-tee-#{tee.id}" %>&nbsp;&nbsp;<%= link_to(t('button.tee.analyze'), course_tee_performances_path(@course, tee), id: "analyze-tee-#{tee.id}") %></li>
  <% end %>
</ul>
<%= render 'layouts/other_buttons',
           courses: [button_to(I18n.t('button.tee.new'), new_course_tee_path(@course, Tee.new), method: :get),
                     button_to(I18n.t('button.course.edit'), edit_course_path(@course), method: :get),
                     button_to(I18n.t('button.course.new'), new_course_path(Course.new), method: :get)
           ], rounds: []
%>



