<%= field_set_tag I18n.t('fieldset.edit.text'), class: 'fieldset' do %>
  <div id="subheading-div" class="fieldset-field-div">
    <%= render 'courses/subheading', course: @course %>
  </div>
  <div id="edit-div" class="fieldset-field-div">
    <%= form_with model: course, local: true do |form| %>
      <div id="line-one" class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name, disabled: form_disabled %>
        <%= render 'attribute_error', object_with_errors: course, attribute: :name %>
      </div>
      <div id="line-two" class="field">
        <%= form.label :number_of_holes %><br>
        <%= form.number_field :number_of_holes, in: [9, 18], disabled: form_disabled %>
        <%= render 'attribute_error', object_with_errors: course, attribute: :number_of_holes %>
      </div>
      <%= render 'courses/editable_address_fields', formats: [:html], form: form, form_disabled: form_disabled, course: course %>

      <% unless form_disabled
           # doing Show.html.erb %>
        <div>
          <%= form.submit(id: t('button.course.submit')) %>
        </div>
      <% end %>
    <% end # form %>
  </div>
<% end # field_set %>
