<%= field_set_tag Fieldset::Course::EDIT, class: 'fieldset' do %>
    <div>
      <%= form.label :name, Label::Course::NAME %><br>
      <%= form.text_field :name, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course, attribute: :name %>
    </div>
    <div>
      <%= form.label :number_of_holes, Label::Course::NUMBER_OF_HOLES %><br>
      <%= form.number_field :number_of_holes, in: [9, 18], disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course, attribute: :number_of_holes %>
    </div>
  <% end %>
