<div id="address-div" class="fieldset-field-div">
  <h3>Address</h3>
  <%= form.fields_for :address do |address_fields| %>
    <div id="address-one" class="field">
      <%= address_fields.label :street1  %>
      <%= address_fields.text_field :street1, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course.address, attribute: :street1 %>
      <%= address_fields.label :street2 %>
      <%= address_fields.text_field :street2, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course.address, attribute: :street2 %>
    </div>
    <div id="address-two" class="field">
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course.address, attribute: :city %>
      <%= address_fields.label :state %>
      <%= address_fields.text_field :state, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course.address, attribute: :state %>
      <%= address_fields.label :zip_code %>
      <%= address_fields.text_field :zip_code, disabled: form_disabled %>
      <%= render 'attribute_error', object_with_errors: course.address, attribute: :zip_code %>
    </div>
  <% end # address_form %>
</div>