<%= form_with model: course, local: true do |form| %>

  <%= render 'share/error_messages.html.erb', resource: course %>

  <%= render 'courses/editable_fields.html.erb', form: form, form_disabled: form_disabled, course: course %>

  <%= render "tees/tees", tees: course.sorted_tees %>

  <% unless form_disabled
       # doing Show.html.erb %>
    <div>
      <%= form.submit(id: Button::Course::SUBMIT) %>
    </div>
  <% end %>
<% end %>