
<ul id="sidebar" class="flex-md-column flex-row navbar-nav w-100 justify-content-betwe">
  <li class="nav-item bg-light"><%= I18n.t('label.nav.course') %></li>
  <li class="nav-item">
    <%= button_to I18n.t('button.course.show_courses'), courses_path, method: :get, class: 'nav-link bg-dark pl-0 text-nowrap' %>
    <%= button_to(I18n.t('button.tee.show_tees'), course_tees_path(@course), method: :get, class: 'nav-link bg-dark pl-0 text-nowrap') if @course.present? && !@course.new_record?  %>
  </li>
  <li class="nav-item bg-light"><%= t('label.nav.rounds') %></li>
  <li class="nav-item">
    <%= button_to I18n.t('button.round.show_courses'), rounds_index_courses_path, method: :get, class: 'nav-link bg-dark pl-0 text-nowrap' %>
    <%= button_to(I18n.t('button.course.show_tees'), rounds_tees_course_tees_path(@course), method: :get, class: 'nav-link bg-dark pl-0 text-nowrap') if @course.present? && !@course.new_record? %>
  </li>
</ul>
