<%= field_set_tag I18n.t('fieldset.edit.text'), class: 'fieldset' do %>
  <div id="subheading-div" class="fieldset-field-div">
    <%= render 'accounts/subheading', account: account %>
  </div>
  <div id="edit-div" class="fieldset-field-div">
    <%= form_with model: account, local: true do |form| %>
      <div id="line-one" class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name, disabled: form_disabled %>
        <% unless form_disabled
             # doing Show.html.erb %>
          <div>
            <%= form.submit(I18n.t('button.account.submit')) %>
          </div>
        <% end %>
        <%= form.label :handicap_index %><br>
        <%= form.number_field :handicap_index, disabled: true %>
        <br>
        <%= form.submit(I18n.t('button.account.calculate_handicap_index')) %>
        <%= form.submit(I18n.t('button.account.calculate_handicap_index_no_init')) %>
        <%= render 'accounts/debug_info', form_disabled: form_disabled, account: account %>
      </div>
    <% end # form %>
  </div>
<% end # field_set %>
